h1 {
  font-size:70px; 
  text-shadow:2px 2px 5px  #004d00;
  text-transform:capitalize;
  text-align:center;
  font-style:italic;
}

body
{
background:  #cc99ff url("p29.jpg");
background-attachment: fixed;  
background-size: cover;
}
div
{
border-top-style:  solid;
border-right-style: solid;
border-bottom-style:  solid;
border-left-style:  solid;
border-width:15px;
border-radius:20px;
margin:40px 250px 40px 250px;
border-color: black;
}

a{
font-size:150%;
}

button{
background-color:#ccffcc;
}
p
{
font-size:50px;
font-style:oblique;
}
